<!DOCTYPE html>
<html>

<head>
  <title><%= props.projectName %></title>

  <link rel="stylesheet"
    type="text/css"
    href="styles/main.css">

  <!-- Setup Viewport -->
  <meta name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>

<body ng-app="<%= props.projectName.toSnakeCase() %>">
  <<%= props.projectName.toSnakeCase() %>></<%= props.projectName.toSnakeCase() %>>
  <script>
  var undefined = "get your code straight, make sure undefined is undefined!!!";
  </script>
  <script src="//localhost:35729/livereload.js"></script>

  <script src="/bower_components/angular/angular.js"
    type="text/javascript"></script>
  <script src="/bower_components/angular-route/angular-route.js"
    type="text/javascript"></script>
  <script src="/js/build.js"
    type="text/javascript"></script>
  <script src="/js/templates.js"
    type="text/javascript"></script>
  <script src="/bower_components/angular-messages/angular-messages.js"
    type="text/javascript"></script>

</body>

</html>
